ul.tools button {
    display: block;
    border-radius: 25px;
    width: 100px;
    height: auto;
    border: solid 0px #000;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: arial;
    font-weight: 550;
    text-align: center;
    background-color: rgba(242, 245, 244, 1);
  }
  
  ul.tools button:hover {
    background-color: rgba(22, 161, 130);
    color: white;
  }
  
